<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.daitu_liang.study.mytest"
    android:versionCode="1"
    android:versionName="1.0.1">

    <permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />

    <uses-feature android:name="android.hardware.nfc.hce" />

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />

    <application
        android:name=".app.GetFightApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainHomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".datepicker.SignDialogActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/umeng_socialize_popup_dialog" />
        <activity android:name=".http.RetroftActivity" />
        <activity android:name=".http.HttpTestActivity" />
        <activity android:name=".imageview.ImageViewActivity" />
        <activity android:name=".unittest.UnitTestActivity" />

        <service android:name=".unittest.ServiceTest" />

        <activity
            android:name=".ui.PullDownActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".ui.HttpFunctionActivity" />
        <activity android:name=".html.HtmlToActivity" />
        <activity android:name=".ui.MainHomeBottomActivity" />
        <activity android:name=".ui.AnimateEffectActivity" />
        <activity android:name=".ui.AnimationActivity" />
        <activity android:name=".ui.PaintActivity" />
        <activity android:name=".ui.MatrixActivity" />
        <activity android:name=".ui.PorterDuffXfermodeActivity" />
        <activity android:name=".ui.WaveDemoActivity" />
        <activity android:name=".ui.FloatTestActivity" />
        <activity android:name=".ui.FloatActivity" />
        <activity android:name=".ui.ScrollToAndScrollByActivity" />
        <activity android:name=".ui.SnowActivity" />
        <activity android:name=".ui.BottomActivity" />
        <activity android:name=".svg.MainActivity" />
        <activity android:name=".javanature.HandleTestActivity" />
        <activity android:name=".ui.PieViewActivity"></activity>
    </application>

</manifest>